DATABASE_URL="postgresql://postgres:passwords@localhost:5432/nom_bd?schema=public"
PORT=3001
USERNAME=postgres
BASE=Nom_bd

# Kafka Broker (pour les services en local avec Docker)
KAFKA_BROKERS=localhost:19092