# Port sur lequel l'application écoute
PORT=3015

# Kafka Broker (pour les services en local avec Docker)
KAFKA_BROKERS=localhost:19092

DATABASE_URL=postgresql://postgres:password@localhost:5432/ecotrack_gamification


JWT_SECRET=your_jwt_secret_key_here
_JWT_EXPIRES_IN=1h

ALLOWED_ORIGINS=http://localhost:3000,http://localhost:3001,http://localhost:5173,http://127.0.0.1:3000,http://127.0.0.1:5173,http://127.0.0.1:3010,http://127.0.0.1:3011,http://127.0.0.1:3012,http://127.0.0.1:3013,http://127.0.0.1:3014,http://127.0.0.1:3015